<div class="post-edit-area">
    <div class="card widget-compose">
        <p class="border bottom width-100 pdd-btm-5 text-bold">게시물 수정</p>
        <textarea class="resize-none form-control border bottom resize-none" id="post-modify-content" th:text="${post.contents}"></textarea>
        <div class="text-center">
            <button class="btn btn-facebook btn-lg btn-rounded " th:onclick="|onModifyClick(${post.id})|" type="button">저장
            </button>
            <a class="btn btn-facebook btn-lg btn-rounded " href="/">취소</a>
        </div>
    </div>
</div>